In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import keras.callbacks
import tensorflow as tf
from keras.layers import Dense, Input, GlobalMaxPool1D
from keras.layers import TimeDistributed, Bidirectional, LSTM, Lambda, concatenate
import numpy as np
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
from keras.layers import Input, Embedding, Activation, Flatten, Dense
from keras.layers import Conv1D, MaxPooling1D, Dropout
from keras.models import Model
from keras import backend as K
from sklearn.metrics import classification_report

In [0]:
train_data = '/content/drive/My Drive/train.csv'
test_data = '/content/drive/My Drive/test.csv'
train_df = pd.read_csv(train_data,delimiter='\t')
test_df = pd.read_csv(test_data,delimiter = '\t')
train_df.head()

            meta  uid sentiment
0           meta    3  negative
1              @    O       NaN
2  AdilNisarButt  Hin       NaN
3       pakistan  Hin       NaN
4             ka  Hin       NaN

In [0]:
test_df.head()

              meta  uid sentiment
0             meta    8   neutral
1               RT  Eng       NaN
2                @    O       NaN
3  UAAPconfessions  Eng       NaN
4             Love  Eng       NaN

In [0]:
str1 = ""
tweets_train = []
sentiments_train = []
a = train_df.loc[:,['meta','sentiment']]
loops = a.shape[0]
t = ""
for i in range (loops):
  if(a.iloc[i,0] == "meta"):
    if (i!=0):
      tweets_train.append(t)
    sentiments_train.append(str(a.iloc[i,1]))
    t = ""
  else:
    t+=str(a.iloc[i,0])
    t+=" "
tweets_train.append(t)
print(tweets_train[0])
print(sentiments_train[0])

@ AdilNisarButt pakistan ka ghra tauq he Pakistan Israel ko tasleem nahein kerta Isko Palestine kehta he - OCCUPIED PALESTINE
negative

In [0]:
str1 = ""
tweets_test = []
sentiments_test = []
a = test_df.loc[:,['meta','sentiment']]
loops = a.shape[0]
t = ""
for i in range (loops):
  if(a.iloc[i,0] == "meta"):
    if (i!=0):
      tweets_test.append(t)
    sentiments_test.append(str(a.iloc[i,1]))
    t = ""
  else:
    t+=str(a.iloc[i,0])
    t+=" "
tweets_test.append(t)
print(tweets_test[0])
print(sentiments_test[0])

RT @ UAAPconfessions Love looks good on Maddie !!! Ako lang ba yung sobrang masaya kasi may zolo sya ? Before with the past Z medyo lowkey s …
neutral

In [0]:
tweets_train = [i.lower() for i in tweets_train]
tweets_test = [i.lower() for i in tweets_test]

tokenizer = Tokenizer(char_level = True, oov_token = "U")
tokenizer.fit_on_texts(tweets_train)

tweets_train_sequences = tokenizer.texts_to_sequences(tweets_train)
tweets_test_sequences = tokenizer.texts_to_sequences(tweets_test)

train_data = pad_sequences(tweets_train_sequences,maxlen = 150,padding = "post")
test_data = pad_sequences(tweets_test_sequences,maxlen = 150,padding = "post")

In [0]:
train_list = []
test_list = []

for i in sentiments_train:
  if i == "positive":
    train_list.append(0)
  elif i == "negative":
    train_list.append(2)
  else:
    train_list.append(1)

train_list = np.array(train_list,dtype = 'float32')

for i in sentiments_test:
  if i == "positive":
    test_list.append(0)
  elif i == "negative":
    test_list.append(2)
  else:
    test_list.append(1)

test_list = np.array(test_list,dtype = 'float32')

#convert to np.array

train_data = np.array(train_data)
test_data = np.array(test_data)

train_list = to_categorical(train_list)
test_list = to_categorical(test_list)

In [0]:
inp_size = 150
v_size = len(tokenizer.word_index) #900
no_classes = 3
dropout = 0.5

weights = []
weights.append(np.zeros(900))
for _,i in tokenizer.word_index.items():
  t = np.zeros(v_size)
  t[i-1] = 1
  weights.append(t)
weights = np.array(weights)
weights.shape

(901, 900)

In [0]:
embedding = Embedding(v_size+1,900,weights = [weights])
input1 = Input(shape = (inp_size,),dtype = 'int64') # (?,150)

layer = embedding(input1)
# Convolution 1D and MaxPooling 1D

layer = Conv1D(512,6)(layer)
layer = Activation('relu')(layer)
layer = MaxPooling1D(3)(layer)

layer = Conv1D(512,3)(layer)
layer = Activation('relu')(layer)
layer = MaxPooling1D(2)(layer)

layer = Conv1D(512,3)(layer)
layer = Activation('relu')(layer)
#layer = MaxPooling1D(2)(layer)

layer = Conv1D(256,3)(layer)
layer = Activation('relu')(layer)
#layer = MaxPooling1D(2)(layer)

layer = Conv1D(256,3)(layer)
layer = Activation('relu')(layer)

layer = Conv1D(256,3)(layer)
layer = Activation('relu')(layer)
layer = MaxPooling1D(2)(layer)

layer = Flatten()(layer) #(?,1792)

layer = Dense(1024,activation = "relu")(layer)
layer = Dropout(dropout)(layer)
layer = Dense(1024,activation="relu")(layer)
layer = Dropout(dropout)(layer) #(?,1024)

final = Dense(3,activation = "softmax")(layer)

model = Model(inputs = input1,outputs = final)

model.compile(optimizer = "adam",loss = "categorical_crossentropy",metrics = ['accuracy'])

model.summary()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 150)               0
_________________________________________________________________
embedding_1 (Embedding)      (None, 150, 900)          810900
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 145, 512)          2765312
_________________________________________________________________
activation_1 (Activation)    (None, 145, 512)          0
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 48, 512)           0
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 46, 512)           786944
_________________________________________________________________
activation_2 (Activation)    (None, 46, 512)           0
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 23, 512)           0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 21, 512)           786944
_________________________________________________________________
activation_3 (Activation)    (None, 21, 512)           0
_________________________________________________________________
conv1d_4 (Conv1D)            (None, 19, 256)           393472
_________________________________________________________________
activation_4 (Activation)    (None, 19, 256)           0
_________________________________________________________________
conv1d_5 (Conv1D)            (None, 17, 256)           196864
_________________________________________________________________
activation_5 (Activation)    (None, 17, 256)           0
_________________________________________________________________
conv1d_6 (Conv1D)            (None, 15, 256)           196864
_________________________________________________________________
activation_6 (Activation)    (None, 15, 256)           0
_________________________________________________________________
max_pooling1d_3 (MaxPooling1 (None, 7, 256)            0
_________________________________________________________________
flatten_1 (Flatten)          (None, 1792)              0
_________________________________________________________________
dense_1 (Dense)              (None, 1024)              1836032
_________________________________________________________________
dropout_1 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_2 (Dense)              (None, 1024)              1049600
_________________________________________________________________
dropout_2 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 3075
=================================================================
Total params: 8,826,007
Trainable params: 8,826,007
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.fit(train_data,train_list,validation_data=(test_data,test_list),batch_size=128,epochs = 25,verbose=1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 13524 samples, validate on 1869 samples
Epoch 1/25
13524/13524 [==============================] - 26s 2ms/step - loss: 1.0900 - acc: 0.3644 - val_loss: 1.0517 - val_acc: 0.4259
Epoch 2/25
13524/13524 [==============================] - 21s 2ms/step - loss: 1.0016 - acc: 0.4686 - val_loss: 1.0207 - val_acc: 0.4612
Epoch 3/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.9112 - acc: 0.5448 - val_loss: 1.0192 - val_acc: 0.5072
Epoch 4/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.8587 - acc: 0.5902 - val_loss: 0.9759 - val_acc: 0.5276
Epoch 5/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.7972 - acc: 0.6330 - val_loss: 1.1191 - val_acc: 0.5094
Epoch 6/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.7467 - acc: 0.6588 - val_loss: 1.0755 - val_acc: 0.5393
Epoch 7/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.6704 - acc: 0.7079 - val_loss: 1.0278 - val_acc: 0.5383
Epoch 8/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.5891 - acc: 0.7547 - val_loss: 1.3148 - val_acc: 0.5415
Epoch 9/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.5013 - acc: 0.8009 - val_loss: 1.5693 - val_acc: 0.5211
Epoch 10/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.4127 - acc: 0.8381 - val_loss: 1.5256 - val_acc: 0.5297
Epoch 11/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.3166 - acc: 0.8816 - val_loss: 1.5759 - val_acc: 0.5222
Epoch 12/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.2866 - acc: 0.8948 - val_loss: 1.8530 - val_acc: 0.5259
Epoch 13/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.2069 - acc: 0.9298 - val_loss: 1.9914 - val_acc: 0.5169
Epoch 14/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.1688 - acc: 0.9418 - val_loss: 2.2864 - val_acc: 0.5147
Epoch 15/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.1455 - acc: 0.9509 - val_loss: 2.2127 - val_acc: 0.5281
Epoch 16/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.1289 - acc: 0.9573 - val_loss: 2.2279 - val_acc: 0.5152
Epoch 17/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0999 - acc: 0.9693 - val_loss: 2.4737 - val_acc: 0.5243
Epoch 18/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0976 - acc: 0.9692 - val_loss: 2.3969 - val_acc: 0.5051
Epoch 19/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0868 - acc: 0.9723 - val_loss: 2.5918 - val_acc: 0.5345
Epoch 20/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0827 - acc: 0.9743 - val_loss: 2.6815 - val_acc: 0.5265
Epoch 21/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0808 - acc: 0.9735 - val_loss: 2.7765 - val_acc: 0.5190
Epoch 22/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0912 - acc: 0.9711 - val_loss: 2.4732 - val_acc: 0.5131
Epoch 23/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0808 - acc: 0.9727 - val_loss: 2.7442 - val_acc: 0.5222
Epoch 24/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0746 - acc: 0.9760 - val_loss: 2.7666 - val_acc: 0.5195
Epoch 25/25
13524/13524 [==============================] - 21s 2ms/step - loss: 0.0431 - acc: 0.9870 - val_loss: 2.8154 - val_acc: 0.5217

In [0]:
y_pred = model.predict(test_data, batch_size=64, verbose=1)
y_pred_bool = np.argmax(y_pred, axis=1)
#print(y_pred_bool)
test_list1 = np.argmax(test_list,axis = 1)
print(classification_report(test_list1, y_pred_bool))
#Here 0 is negative, 1 is neutral and 2 is positive

1869/1869 [==============================] - 1s 706us/step
              precision    recall  f1-score   support

           0       0.56      0.48      0.52       582
           1       0.48      0.61      0.54       754
           2       0.58      0.44      0.50       533

    accuracy                           0.52      1869
   macro avg       0.54      0.51      0.52      1869
weighted avg       0.53      0.52      0.52      1869